@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  background-image: url('../public/backgrd.jpg'); /* Path relative to the public folder */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
